main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--neutral-2);
}

.container {
    max-width: 57.5em;
    display: grid;
    grid-template: 1fr 500px / repeat(3, 1fr);
    grid-template-areas:
        "a b c"
        "a b c";
        margin: 0 1.5em;
}

.card {
    padding: 3em;
    padding-right: 3.5em;
}

.card.sedans {
    background-color: var(--primary-1);
    border-radius: 8px 0 0 8px;
    grid-area: a;
}

.card.suvs {
    background-color: var(--primary-2);
    grid-area: b;
}

.card.luxury {
    background-color: var(--primary-3);
    border-radius: 0 8px 8px 0;
    grid-area: c;
}

.card img {
    margin-bottom: 2em;
}

.card h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--neutral-2);
    margin-bottom: 0.6em;
}

.card p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--neutral-1);
    font-size: 0.90em;
    line-height: 1.7em;
    margin-bottom: 7em;
}

a.btn {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.95em;
    padding: 0.9em 2em;
    border: 1px solid white;
    border-radius: 25px;
    background-color: var(--neutral-2);
}

.card:first-child a.btn {
    color: var(--primary-1);
}

.card:nth-child(2) a.btn {
    color: var(--primary-2);
}

.card:last-child a.btn {
    color: var(--primary-3);
}

.card a.btn:hover {
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}